%p#notice= notice

.container
  / Portfolio Item Heading
  %h1.my-4
    = @product.name
    %small= @product.season
  / Portfolio Item Row
  .row
    .col-md-8
      = image_tag(@product.attachments.first, class: 'img-fluid', alt: @product.name)
    .col-md-4
      %h3.my-3 Project Description
      %p= @product.description
      %h3.my-3 Project Details
      %p= @product.short_desc
  / /.row
  / Related Projects Row
  %h3.my-4 Related Projects
  .row
    - @related.each do |product|
      .col-md-3.col-sm-6.mb-4
        = link_to product do |link|
          = image_tag(product.attachments.first, class: 'img-fluid')