%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Season:
  = @product.season
%p
  %b Price:
  = @product.price
%p
  %b Cost:
  = @product.cost
%p
  %b Active:
  = @product.active
%p
  %b Description:
  = @product.description
%p
  %b Short desc:
  = @product.short_desc
%p
  %b Sale:
  = @product.sale
%p
  %b Stock:
  = @product.stock
%p
  %b Preorder:
  = @product.preorder
%p
  %b Preorder:
  = @product.preorder

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
